.journal-sheet div,
.journal-sheet p,
.journal-sheet input,
.journal-sheet textarea,
.journal-sheet label,
.journal-sheet span,
.journal-sheet button,
.journal-sheet select,
.journal-sheet option {
  font-family: "Verdigris MVP Pro Text, Verdana, Arial, sans-serif";
}
.journal-sheet .journal-entry-content h1 {
  border-bottom: 2px solid #000;
}
.journal-sheet .journal-entry-content h1,
.journal-sheet .journal-entry-content h2,
.journal-sheet .journal-entry-content h3,
.journal-sheet .journal-entry-content h4,
.journal-sheet .journal-entry-content h5,
.journal-sheet .journal-entry-content h6,
.journal-sheet .journal-entry-content .journal-header input {
  font-family: "Modesto Condensed";
  font-weight: bold;
}
.journal-sheet .journal-entry-content h2,
.journal-sheet .journal-entry-content h3,
.journal-sheet .journal-entry-content h4,
.journal-sheet .journal-entry-content h5,
.journal-sheet .journal-entry-content h6 {
  border: none;
  text-transform: uppercase;
}
.journal-sheet h1.border,
.journal-sheet h2.border,
.journal-sheet h3.border,
.journal-sheet h4.border,
.journal-sheet h5.border,
.journal-sheet h6.border {
  border-bottom: 1px solid #000;
}
.journal-sheet p.subheading {
  font-family: "Helvetica";
  font-size: var(--font-size-14);
  font-weight: bold;
  text-transform: uppercase;
}
.journal-sheet p.bar {
  font-family: "Helvetica";
  font-size: var(--font-size-14);
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
  background: #000;
  padding: 5px;
}
.journal-sheet p.bar a.content-link {
  background: transparent;
  color: #FFF;
  border: none;
  font-size: var(--font-size-14);
}
.journal-sheet .journal-header input.title {
  font-size: var(--font-size-48);
  background: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #000;
}
.journal-sheet .window-content {
  background: #FFF;
}
.journal-sheet .editor-menu {
  background: #f5f5f5;
}
.journal-sheet .prosemirror menu .pm-dropdown {
  background: #FFF;
}
.journal-sheet .prosemirror menu button:hover,
.journal-sheet .prosemirror menu button.active {
  background: #e5e5e5;
}
.journal-sheet .prosemirror menu .pm-dropdown ul {
  background: #e5e5e5;
}
.journal-sheet .prosemirror menu .pm-dropdown li:hover {
  background: #FFF;
}
.journal-sheet .journal-sheet-container .journal-entry-content {
  background: #fff;
}
.journal-sheet .journal-entry-pages {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.journal-sheet table {
  font-family: "Helvetica";
}
.journal-sheet table th {
  background: #000;
  color: #FFF;
}
.journal-sheet a.content-link,
.journal-sheet a.inline-roll {
  background: #000;
  color: #FFF;
}
.journal-sheet a.content-link i,
.journal-sheet a.inline-roll i {
  color: #FFF;
}
.journal-sheet .callout.informative {
  background-color: #f5f5f5;
  border-top: 1px solid #231f20;
  border-bottom: 1px solid #231f20;
  color: #231f20;
  padding: 10px;
}
.journal-sheet .callout.informative h5 {
  font-size: var(--font-size-18);
  text-transform: uppercase;
  margin: 10px 0;
}
.journal-sheet .callout.advice {
  background-color: #FFF;
  border: 1px solid #231f20;
  padding: 10px;
}
.journal-sheet .callout.advice p {
  font-family: "Helvetica";
}
.journal-sheet .align-right {
  min-width: 25%;
  float: right;
  margin: 0 15px 15px 25px;
  text-align: center;
}
.journal-sheet .clear {
  clear: both;
}
.journal-sheet img {
  border: none;
}
.black-flag.actor.pc .health::-moz-progress-bar {
  background: darkolivegreen;
}
.black-flag.actor.pc .health::-webkit-progress-value {
  background: darkolivegreen;
}
.black-flag div,
.black-flag p,
.black-flag input,
.black-flag textarea,
.black-flag label,
.black-flag span,
.black-flag button,
.black-flag select,
.black-flag option {
  font-family: "Verdigris MVP Pro Text, Verdana, Arial, sans-serif";
}
.black-flag h1 {
  font-family: "Modesto Condensed Bold";
}
.black-flag h2 {
  font-family: "Modesto Condensed Bold";
  font-variant: small-caps;
}
.black-flag .editor {
  height: 190px;
}
.black-flag .ace_editor {
  height: 375px;
}
.black-flag form {
  background-image: url("/systems/black-flag/system/sheets/assets/black-flag-mask-inverse.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.black-flag .foreign-documents .foreign-document {
  padding-bottom: 5px;
}
.black-flag .sheet-header,
.black-flag .sheet-tabs,
.black-flag footer {
  flex: 0;
}
.black-flag .header > .item-controls {
  flex: 0 auto;
}
.black-flag .tag-list .tag {
  flex: none;
  min-width: 22px;
  text-align: center;
  height: 20px;
  border: 1px solid var(--color-border-dark);
  border-radius: 3px;
  padding: 0 5px;
  font-size: var(--font-size-11);
  line-height: 18px;
  text-decoration: none;
  background: #333;
  color: var(--color-text-light-highlight);
  margin: 0 0 5px 2px;
}
.black-flag .directory-list {
  padding: 0 0.5em 0 0.5em;
  margin: 0;
}
.black-flag .directory-list .item-controls {
  flex: 0 auto;
}
.black-flag .directory-list .trait {
  background: linear-gradient(45deg, #0d0d0d, #bebebe);
  color: var(--color-text-light-0);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0 0 1px 0;
}
.black-flag .directory-list .trait > * {
  display: flex;
  align-items: center;
}
.black-flag .directory-list .trait > .trait-header {
  padding-right: 10px;
}
.black-flag .directory-list .trait > .trait-header .trait-name {
  color: #edd391;
  display: flex;
  align-items: center;
  margin: 0;
}
.black-flag .directory-list .trait .trait-icon {
  flex: none;
  margin-right: 5px;
  width: 32px;
  height: 32px;
}
.black-flag .directory-list .trait .description {
  flex: 2;
}
.black-flag .directory-list .trait .item-control {
  width: 25px;
}
.black-flag [data-action="delete"] {
  flex: none;
  margin-left: 5px;
  padding-top: 2px;
  cursor: pointer;
}
.black-flag [data-action="delete"]:hover {
  color: var(--color-level-error);
}

/*# sourceMappingURL=black-flag.css.map */
