.black-flag.actor.pc {

  .health {
    &::-moz-progress-bar { background: darkolivegreen; }
    &::-webkit-progress-value { background: darkolivegreen; }
  }

  .tag {
    &.innate {
      background: #702500;
    }
  }
}
