.black-flag.actor.pc {

  .important-info {
    flex: none;
    padding: 10px 10px;
    margin: 10px -8px;
    background: rgba(214, 150, 0, 0.8);
    color: #FFF;
    text-align: center;
    box-shadow: inset #707070 0px 0px 5px 0px;
  }
  .important-info :is(a.content-link) {
    background: #333;
    color: var(--color-text-light-highlight);
    border: 1px solid var(--color-border-dark);
  }
  .important-info :is(a.content-link i) {
    color: var(--color-text-light-highlight);
    border: 1px solid var(--color-border-dark);
  }

  .important-info a[data-action="important-info"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-shadow: 1px 1px 3px #a88125;
    transition: text-shadow .1s ease-in-out;
  }
  .important-info a[data-action="important-info"]:hover {
    text-shadow: 0px 0px 4px #4c3601;
  }
  .important-info a[data-action="important-info"] i {
    margin: 0 10px;
    font-size: 25px;
  }
  .important-info a[data-action="important-info"] i.fa-angle-down {
    font-size: 20px;
  }
  .collapsible {
    overflow: hidden;
    max-width: 550px;
    font-size: 16px;
  }
  .collapsed {
    height: 0;
    max-height: 0;
    transition: all .25s ease-in-out;
  }
  .expanded {
    height: auto;
    max-height: 50px;
    margin: 5px auto;
    transition: all .25s ease-in-out;
  }

  .health {
    &::-moz-progress-bar { background: darkolivegreen; }
    &::-webkit-progress-value { background: darkolivegreen; }
  }

  .window-content {
    background: #FFF;
  }

  .sheet-header fieldset {
    height: 100%;
  }

  & fieldset {
    border-width: 2px;
    border-style: solid;
    border-color: #333;
    background: #FFF;
  }
  & legend {
    font-weight: bold;
    padding: 0px 5px;
  }

  .tag {
    &.innate {
      background: #2f5388;
    }
    &.manual {
      background: #7f5b0d;
    }
  }
  

  .ability input {
    text-align: center;
  }
  .ability .mod {
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0;
  }
  .abilities .ability {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 3px solid #333;
    border-radius: 4px;
  }

  .lineage-heritage .form-group {
    text-align: center;
    margin: 0 10px;
  }

  .character label {
    max-width: fit-content;
    padding: 0 10px;
    margin: 5px 0;
  }

  .character-builder {
    flex: 0;
    height: 38px;
    align-self: center;
    font-size: large;
  }

  .talents .talent {
    flex: 0 0 auto;
    text-align: center;
    border: 1px solid var(--color-border-dark);
    border-radius: 3px;
    padding: 0 5px;
    font-size: var(--font-size-14);
    line-height: 19px;
    text-decoration: none;
    background: #333;
    color: var(--color-text-light-highlight);
    margin: 0 0 5px 2px;
    align-items: center;

    & a.content-link, a.inline-roll {
      background: transparent;
      border: none;
    }
    & i {
      color: var(--color-text-light-highlight);
      padding-top: 0px;
    }
  }

  .traits {
    .trait {
      margin-bottom: 5px;

      .trait-img {
        flex: 0 auto;
        margin: 0px 5px 0px 5px;
      }

      .choices-icon {
        flex: 0 auto;
        margin-left: 5px;
        margin-top: -2px;
        font-size: 30px;
        height: 30px;

        &.fulfilled {
          color: green;
        }
        &.unfulfilled {
          color: #ff0000;
        }
      }
    }
  }

  & label  {
    background: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    font-weight: bold;
  }
  & input, select {
    background: #e9e9e9;
    border: 1px solid #e9e9e9;
    font-size: 19px;
    box-shadow: inset #c9c9c9 0px 0px 4px 0px;
  }
  & input::placeholder {
    padding: 5px;
  }

  .tabs {
    margin: 15px 2px 0;

    & a.item {
      width:100%;
      padding: 10px 0;
      border-bottom: 2px solid #000;
    }
    & a.item.active {
      background: #fff;
      color: #000;
      border: 2px solid #000;
      border-bottom: 0px;
      text-shadow: none;
      font-weight: bold;
    }
  }

  .tabs-container {    
    & fieldset {
      background: #FFF;
      border-top: 0;
    }
  }
}
