.journal-sheet {
  --font-primary: Verdigris MVP Pro Text, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  --font-header: "Modesto Condensed Bold", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  --font-sans-serif: Helvetica, "Helvetica Neue", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, Arial, sans-serif;

  font-family: var(--font-primary);

  .journal-entry-content {

    position: relative;

    & h1, h2, h3, h4, h5, h6, .journal-header input {
      font-family: var(--font-header);
      font-weight: bold;
    }
    & h2, h3, h4, h5, h6 {
      border: none;
      text-transform: uppercase;
    }
    & h1 {
      border-bottom: 2px solid #000;
    }
    & h2 {
      border-bottom: 1px solid #000;
    }

    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 52px;
      position: relative;
      bottom: 0;
      background: url("/systems/black-flag/system/sheets/assets/border.png") no-repeat right bottom;
      background-repeat: no-repeat;
      background-size: auto;
      background-size: contain;
      background-repeat: no-repeat;
      transform: scaleX(-1);
    }
  }

  & h1, h2, h3, h4, h5, h6 {
    &.no-border {
      border-bottom: none;
    }
    &.border {
      border-bottom: 1px solid #000;
    }
  }

  & p.subheading {
    font-family: var(--font-sans-serif);
    font-size: var(--font-size-14);
    font-weight: bold;
    text-transform: uppercase;
  }

  & p.bar {
    font-family: var(--font-sans-serif);
    font-size: var(--font-size-14);
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    background: #000;
    padding: 5px;
  }
  & p.bar a.content-link {
    background: transparent;
    color: #FFF;
    border: none;
    font-size: var(--font-size-14);
  }

  .journal-header input.title {
    font-size: var(--font-size-48);
    background: #fff;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #7f7f7f;
  }

  .window-content {
    background: #FFF;
  }

  .editor-menu {
    background: #f5f5f5;
  }

  .prosemirror menu .pm-dropdown {
    background: #FFF;
  }
  .prosemirror menu button:hover, .prosemirror menu button.active {
    background: #e5e5e5;
  }

  .prosemirror menu .pm-dropdown ul {
    background: #e5e5e5;
  }
  .prosemirror menu .pm-dropdown li:hover {
    background: #FFF;
  }

  .journal-sheet-container .journal-entry-content {
    background: #fff;
  }

  .journal-entry-pages {
    background-image: url("/systems/black-flag/system/sheets/assets/black-flag-mask-inverse.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  & table {
    font-family: var(--font-sans-serif);
  }

  & table th {
    background: #000;
    color: #FFF;
  }

  & a.content-link, a.inline-roll {
    background: #000;
    color: #FFF;
  }
  & a.content-link i, a.inline-roll i {
    color: #FFF;
  }

  .callout.informative {
    background-color: #f5f5f5;
    border-top: 1px solid #231f20;
    border-bottom: 1px solid #231f20;
    color: #231f20;
    padding: 10px;
  }
  .callout.informative h5 {
    font-size: var(--font-size-18);
    text-transform: uppercase;
    margin: 10px 0;
  }
  .callout.advice {
    background-color: #FFF;
    border: 1px solid #231f20;
    padding: 10px;
  }
  .callout.advice p {
    font-family: var(--font-sans-serif);
  }
  .align-right {
    min-width: 25%;
    float: right;
    margin: 0 15px 15px 25px;
    text-align: center;
  }
  .clear {
    clear: both;
  }

  & img {
    border: none;
  }
}
